@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak');
@import url('https://fonts.googleapis.com/css?family=Fredoka One');

* {
    margin: 0;
    padding: 0;
    font-family: Fredoka;
    transition: background-color 0.3s, color 0.3s;
}

body {
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.Side {
    float: left;
    width: 25%;
    height: 100%;
}

.Logo {
    float: left;
    width: 25%;
    height: 95%;
}

h1 {
    color: #000;
    font-family: Fredoka One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.Main {
    display: flex;
    margin-left: auto;
}

.Article {
    width: 75%;
    margin-left: -10px;
}

.haztuComision {
    width: 890px;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
    text-align: justify;
}

.desc-comision {
    width: 800px;
}

.desc-comision,
.precio-comision {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    color: #333;
    padding: 10px;
    margin: 5px;

}

.btnHacerComision {
    width: 140px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #390099;
    background: rgba(57, 0, 153, 0.16);
    float: right;
    cursor: pointer;
    margin: 10px;
}

.comisionUp {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(57, 0, 153, 0.16);
    border: 2px solid #390099;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cambiarFeed button {
    background-color: #B6DCFF;
    color: #390099;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cambiarFeed button:hover {
    background-color: #FFC3CE;
}